footer {
    background-color: rgba(126, 187, 243, 0.226);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #d8ddee;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h5 {
    color: whitesmoke;
}

p {
    color: whitesmoke;
}